<ul id="arrowUL_1">
	
	<li id="arrowLI_5">
		 <a href="/page2" target="_blank" id="arrowA_6">Cadastros
		 	<i id="arrowI_7"></i>
		 </a>
	</li>
	
	<li id="arrowLI_74">
		 <a href="#" id="arrowA_75">Compras
		 	<i id="arrowI_76"></i><i id="arrowI_77"></i>
		 </a>
		
	</li>
	
	
	<li id="arrowLI_97">
		 <a href="#" id="arrowA_98">Vendas
		 	<i id="arrowI_99"></i>
		 	<i id="arrowI_100"></i>
		 </a>
		
	</li>
	
	
	<li id="arrowLI_114">
		 <a href="#" id="arrowA_115">Faturamento
		 	<i id="arrowI_116"></i>
		 	<i id="arrowI_117"></i>
		 </a>
	</li>
	

	<li id="arrowLI_156">
		 <a href="#" id="arrowA_157">Financeiro
		 	<i id="arrowI_158"></i><i id="arrowI_159"></i>
		 </a>
	</li>
	

	<li id="arrowLI_97">
		 <a href="#" id="arrowA_98">Estoque
		 	<i id="arrowI_99"></i>
		 	<i id="arrowI_100"></i>
		 </a>
		
	</li>
	

	<li id="arrowLI_194">
		 <a href="#" id="arrowA_195">Expedição
		 	<i id="arrowI_196"></i>
		 	<i id="arrowI_197"></i>
		 </a>
	</li>
	
	
	<li id="arrowLI_5">
		 <a href="#" id="arrowA_6">Fiscal
		 	<i id="arrowI_7"></i>
		 	
		 </a>
	</li>
	
	
	<li id="arrowLI_114">
		 <a href="#" id="arrowA_115">Parametrização Sistema
		 	<i id="arrowI_116"></i>
		 	<i id="arrowI_117"></i>
		 </a>
	</li>

	
</ul>