@(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title></title>
       	@common.cssIncludes()
       	@common.jsIncludes()
         
    </head>

    <body>
        <header class="topbar">
            @common.topBar()
        </header>
         
        <section id="menu2">
			@menus.menu2()
		</section>
        
        <section id="main">
			@content
		</section>
        
     <script src='@routes.Assets.at("javascripts/menu2.js")' type="text/javascript"></script>    
    </body>
</html>
