.arrowI_1 {
    border-bottom-color: rgb(170, 170, 170);
    border-left-color: rgb(170, 170, 170);
    border-right-color: rgb(170, 170, 170);
    border-top-color: rgb(170, 170, 170);
    color: rgb(170, 170, 170);
    cursor: default;
    display: block;
    font-family: FontAwesome;
    font-size: 10px;
    font-style: normal;
    height: 36px;
    line-height: 36px;
    list-style-type: none;
    outline-color: rgb(170, 170, 170);
    position: absolute;
    right: 10px;
    text-align: center;
    top: 0px;
    width: 12.5px;
    -webkit-column-rule-color: rgb(170, 170, 170);
    align-self: stretch;
    -webkit-font-smoothing: antialiased;
    -webkit-locale: en;
    perspective-origin: 6.25px 18px;
    -webkit-perspective-origin: 6.25px 18px;
    -webkit-text-emphasis-color: rgb(170, 170, 170);
    -webkit-text-fill-color: rgb(170, 170, 170);
    -webkit-text-stroke-color: rgb(170, 170, 170);
    transform-origin: 6.25px 18px;
    -webkit-transform-origin: 6.25px 18px;
    border: 0px none rgb(170, 170, 170);
    border-top: 0px none rgb(170, 170, 170);
    border-right: 0px none rgb(170, 170, 170);
    border-bottom: 0px none rgb(170, 170, 170);
    border-left: 0px none rgb(170, 170, 170);
    border-color: rgb(170, 170, 170);
    font: normal normal normal normal 10px/36px FontAwesome;
    list-style: none outside none;
    outline: rgb(170, 170, 170) none 0px;
    -webkit-border-after: 0px none rgb(170, 170, 170);
    -webkit-border-before: 0px none rgb(170, 170, 170);
    -webkit-border-end: 0px none rgb(170, 170, 170);
    -webkit-border-start: 0px none rgb(170, 170, 170);
}/*#arrowI_1*/

.arrowI_1:before{
    border-bottom-color: rgb(170, 170, 170);
    border-left-color: rgb(170, 170, 170);
    border-right-color: rgb(170, 170, 170);
    border-top-color: rgb(170, 170, 170);
    color: rgb(170, 170, 170);
    cursor: default;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 10px;
    font-style: normal;
    height: 36px;
    line-height: 36px;
    list-style-type: none;
    outline-color: rgb(170, 170, 170);
    speak: none;
    text-align: center;
    width: 6.4375px;
    -webkit-column-rule-color: rgb(170, 170, 170);
    -webkit-font-smoothing: antialiased;
    -webkit-locale: en;
    perspective-origin: 3.21875px 18px;
    -webkit-perspective-origin: 3.21875px 18px;
    -webkit-text-emphasis-color: rgb(170, 170, 170);
    -webkit-text-fill-color: rgb(170, 170, 170);
    -webkit-text-stroke-color: rgb(170, 170, 170);
    transform-origin: 3.21875px 18px;
    -webkit-transform-origin: 3.21875px 18px;
    content: '';
    border: 0px none rgb(170, 170, 170);
    border-top: 0px none rgb(170, 170, 170);
    border-right: 0px none rgb(170, 170, 170);
    border-bottom: 0px none rgb(170, 170, 170);
    border-left: 0px none rgb(170, 170, 170);
    border-color: rgb(170, 170, 170);
    font: normal normal normal normal 10px/36px FontAwesome;
    list-style: none outside none;
    outline: rgb(170, 170, 170) none 0px;
    -webkit-border-after: 0px none rgb(170, 170, 170);
    -webkit-border-before: 0px none rgb(170, 170, 170);
    -webkit-border-end: 0px none rgb(170, 170, 170);
    -webkit-border-start: 0px none rgb(170, 170, 170);
}/*#arrowI_1:before*/

