<ul class="nav">
	
	<a class="dropdown-toggle" data-toggle="dropdown" href="#"><img src='@routes.Assets.at("images/database.png")'></a>
	
	<li class="active">
		
		<ul class="dropdown-menu" role="menu">
			
			<li data-submenu-id="submenu-patas">
				
				<a href="#">Cadastros</a> 
            
				<div id="submenu-patas" class="popover">
					<h3 class="popover-title">Cadastros</h3>
					
					<div class="popover-content">
						
					</div>
					
				</div>
				
			</li>
			
			<li data-submenu-id="submenu-snub-nosed">
				<a href="#">Golden	Snub-Nosed</a>
				
				<div id="submenu-snub-nosed" class="popover">
					<h3 class="popover-title">Golden Snub-Nosed</h3>
					<div class="popover-content">
						
					</div>
				</div>
				
			</li>
			
			
			<li data-submenu-id="submenu-duoc-langur">
				
				<a href="#">Duoc Langur</a>
				
				<div id="submenu-duoc-langur" class="popover">
					<h3 class="popover-title">Duoc Langur</h3>
					<div class="popover-content">
						
					</div>
				</div>
				
			</li>
			
			<li data-submenu-id="submenu-pygmy"><a href="#">Baby Pygmy Marmoset</a>
				
				<div id="submenu-pygmy" class="popover">
					<h3 class="popover-title">Baby Pygmy Marmoset</h3>
					<div class="popover-content">
						
					</div>
				</div>
				
			</li>
			
			<li data-submenu-id="submenu-tamarin">
				
				<a href="#">Black Lion Tamarin</a>
				
				<div id="submenu-tamarin" class="popover">
					<h3 class="popover-title">Black Lion Tamarin</h3>
					<div class="popover-content">
						
					</div>
				</div>
			</li>
			
			<li data-submenu-id="submenu-monk">
				
				<a href="#">Monk Saki</a>
				
				<div id="submenu-monk" class="popover">
					<h3 class="popover-title">Monk Saki</h3>
					<div class="popover-content">
						
					</div>
				</div>
			</li>
			
			<li data-submenu-id="submenu-gabon">
				<a href="#">Gabon Talapoin</a>
				
				<div id="submenu-gabon" class="popover">
					<h3 class="popover-title">Gabon</h3>
					<div class="popover-content">

					</div>
				</div>
			</li>
			
			<li data-submenu-id="submenu-grivet">
				
				<a href="#">Grivet</a>
				
				<div id="submenu-grivet" class="popover">
					<h3 class="popover-title">Grivet</h3>
					<div class="popover-content">

					</div>
				</div>
			
			</li>
			
			<li data-submenu-id="submenu-red-leaf">
				<a href="#">Red	Leaf</a>
				
				<div id="submenu-red-leaf" class="popover">
					<h3 class="popover-title">Red Leaf</h3>
					<div class="popover-content">

					</div>
				</div>
			
			</li>
			
			<li data-submenu-id="submenu-king-colobus">
			
				<a href="#">King Colobus</a>
				
				<div id="submenu-king-colobus" class="popover">
					<h3 class="popover-title">King Colobus</h3>
					<div class="popover-content">

					</div>
				</div>
				
			</li>
		
		</ul>

	</li>


</ul>