<ul id="arrowUL_1" class="dropdown-menu" role="menu">
	
	
	<li id="arrowLI_74" data-submenu-id="submenu-cadastros">
		 <a href="#" id="arrowA_75">Cadastros
		 	<i id="arrowI_76"></i><i id="arrowI_77"></i>
		 </a>
		 
		 <div id="submenu-cadastros" class="popover">
			 @submenuCadastros()
		 </div>
	</li>
	
	<li id="arrowLI_5" data-submenu-id="submenu-dashboards">
		 <a href="/page2" target="_blank" id="arrowA_6">Dashboards
		 	<i id="arrowI_7"></i>
		 </a>
		 
		 <div id="submenu-dashboards" class="popover">
			 <h3 class="popover-title-custom">
				DASHBOARDS
				<hr style="border: 1px solid black">
			</h3>
		 </div>
	</li>
	
	<li id="arrowLI_97" data-submenu-id="submenu-processos">
		 <a href="#" id="arrowA_98">Processos
		 	<i id="arrowI_99"></i>
		 </a>
		 
		 <div id="submenu-processos" class="popover">
			 <h3 class="popover-title-custom">
				PROCESSOS
				<hr style="border: 1px solid black">
			</h3>
		 </div>
	</li>
	
	<li id="arrowLI_114" data-submenu-id="submenu-analise-gerencial">
		 <a href="#" id="arrowA_115">Análise Gerencial
		 	<i id="arrowI_116"></i>
		 </a>
		 
		 <div id="submenu-analise-gerencial" class="popover">
			 <h3 class="popover-title-custom">
				ANÁLISE GERENCIAL
				<hr style="border: 1px solid black">
			</h3>
		 </div>
	</li>
</ul>
