<h3 class="popover-title-custom">Cadastros</h3>
<div class="popover-content">
						
	<!-- START COLUMN1 -->							
	<div class="all-content">
	
		<div class="column1" style="width: 50%;float:left">
		
			<div class="produtos">
								
				<div class="group-header"><strong>PRODUTOS</strong></div>
				
				<ul class="clearfix">
					<li>
						<a href="/telerikGrid" target="_blank"	data-tag="TopicBrowserPulldown" class="menulink">Classificação</a>
					</li>
			
					<li style="width:100%">
						<a href="/telerikGrid" target="_blank"	data-tag="TopicBrowserPulldown" class="menulink">Finalidades</a>
					</li>
		
					<li>
						<a href="/telerikGrid" target="_blank"	data-tag="TopicBrowserPulldown" class="menulink">Produto</a>
					</li>
		
				</ul>
			</div>
		
		
			<div class="clearfix"></div>
			<br/>
		
		
			<div class="financeiro" >
					
				<div class="group-header"><strong>FINANCEIRO</strong></div>
				
				<ul class="clearfix">
					<li>
						<a href="/telerikGrid" target="_blank"	data-tag="TopicBrowserPulldown" class="menulink">Condições de Pagamento</a>
					</li>
		
					<li>
						<a href="/telerikGrid" target="_blank"	data-tag="TopicBrowserPulldown" class="menulink">Formas de Pagamento</a>
					</li>
				</ul>
			</div>
		
		
			<div class="clearfix"></div>
			<br/>
		
			<div class="estoque" >
					
				<div class="group-header"><strong>ESTOQUE</strong></div>
				
				<ul class="clearfix" >
					<li style="width: 100%">
						<a href="/telerikGrid" target="_blank"	data-tag="TopicBrowserPulldown" class="menulink">Pavimentos</a>
					</li>
		
					<li style="width: 100%">
						<a href="/telerikGrid" target="_blank"	data-tag="TopicBrowserPulldown" class="menulink">Ruas</a>
					</li>
					
					<li style="width: 100%">
						<a href="/telerikGrid" target="_blank"	data-tag="TopicBrowserPulldown" class="menulink">Reserva de Endereços</a>
					</li>
					
					<li style="width: 100%">
						<a href="/telerikGrid" target="_blank"	data-tag="TopicBrowserPulldown" class="menulink">Prateleiras</a>
					</li>
				</ul>
			</div>
		
			<div class="clearfix"></div>
			<br/>
		
			<div class="Especialidades">
					
				<div class="group-header"><strong>ESPECIALIDADES</strong></div>
							
					<ul class="clearfix">
						<li style="width: 100%">
							<a href="/telerikGrid" target="_blank"	data-tag="TopicBrowserPulldown" class="menulink">Coleções</a>
						</li>
		
						<li style="width: 100%">
							<a href="/telerikGrid" target="_blank"	data-tag="TopicBrowserPulldown" class="menulink">Cores</a>
						</li>
						
						<li style="width: 100%">
							<a href="/telerikGrid" target="_blank"	data-tag="TopicBrowserPulldown" class="menulink">Padrões de Largura</a>
						</li>
						
						<li style="width: 100%">
							<a href="/telerikGrid" target="_blank"	data-tag="TopicBrowserPulldown" class="menulink">Padrões de Espessura</a>
						</li>
						
					</ul>
			</div>
		
		
		</div><!-- END COLUMN1 -->
		
									
		<!-- START COLUMN2 -->							
		
		<div class="column2" style="width: 50%;float:left">
				
		</div><!-- END COLUMN2-->

	</div><!-- END ALL-CONTENT -->	
	
	
</div>
