<link rel='stylesheet' href='@routes.Assets.at("lib/kendo/css/kendo.common.min.css")'>
<link rel='stylesheet' href='@routes.Assets.at("lib/kendo/css/kendo.default.min.css")'>
<link rel='stylesheet' href='@routes.Assets.at("lib/kendo/css/kendo.dataviz.min.css")'>
<link rel='stylesheet' href='@routes.Assets.at("lib/kendo/css/kendo.dataviz.default.min.css")'>
<link rel='stylesheet' href='@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")'>
<link rel='stylesheet' href='@routes.Assets.at("lib/font-awesome/css/font-awesome.min.css")'>
<link rel="stylesheet" href='@routes.Assets.at("stylesheets/bootstrap.min.css")'>
<link rel="stylesheet" href='@routes.Assets.at("stylesheets/main.css")'/>
<link rel="stylesheet" href='@routes.Assets.at("stylesheets/menu1.css")'/>
<link rel="stylesheet" href='@routes.Assets.at("stylesheets/menu2.css")'/>
<link rel="stylesheet" href='@routes.Assets.at("stylesheets/arrows.css")'/>
<link rel="stylesheet" href='@routes.Assets.at("stylesheets/charts.css")'/>
<link rel="stylesheet" href='@routes.Assets.at("stylesheets/topHeader.css")'/>
<link rel="stylesheet" href='@routes.Assets.at("stylesheets/alpaca.css")'/>








        
