<div id="headerDIV_1">

</div>
<div class="form-group" style="margin-top: -32px;">
	<label class="control-label col-sm-4" 
		   style="font-weight: 400;
		   		  font-size: medium;
		   		  width: 150px;
		   		  margin-left: 300px;
		   		  top: 5px;
		   		  border-style:none;
		   		  color: black">
		
		Banco de Dados
	
	</label>
	
	<div class="col-sm-8 col-md-6">
	    <select id="databaseSelect" style="font-size: medium;">
	    </select>
	</div>
	
	<span class="control-label col-sm-4" style="float: right;margin-top: -17px;font-weight: 400;font-size: medium;color: black">
	 	Olá Usuário: Maruen Mehana
	</span>
</div>


